@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
    transition: opacity .5s;
}

a{
    cursor: pointer;
}

button{
    cursor: pointer;
}
:root{
    --cinza: #3A3B3C;
    --laranja: #F16224;
    --amarelo: #F5AD00;
    --verde: #00BF63;
    --laranja-escuro: #9E2F00;
    --branco: #EEEEEE;
    --cinza-claro: #C6C6C6;
}

.laranja{
    background-color: var(--laranja);
}

.laranja-text{
    color: var(--laranja);
}

.btn-amarelo{
    background-color: var(--amarelo);
    height: 64px;
    color: #fff;
    font-size: 2rem;
    font-weight: 600;
    width: 384px;
    justify-self: center;
    border: 0;
    border-radius: 5px;
}

.btn-amarelo:hover{
    background-color: var(--verde);
    color: #fff;
}

.campo-input{
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
}

.campo-input input{
    padding-left: 10px;
    font-size: 1.125rem;
    margin-top: 10px;
    height: 50px;
    border-radius: 5px;
}