@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
    transition: opacity .5s;
}

a{
    cursor: pointer;
}

button{
    cursor: pointer;
}
:root{
    --cinza: #3A3B3C;
    --laranja: #F16224;
    --amarelo: #F5AD00;
    --verde: #00BF63;
    --laranja-escuro: #9E2F00;
    --branco: #EEEEEE;
    --cinza-claro: #C6C6C6;
}

.laranja{
    background-color: var(--laranja);
}

.laranja-text{
    color: var(--laranja);
}

.btn-amarelo{
    background-color: var(--amarelo);
    height: 64px;
    color: #fff;
    font-size: 2rem;
    font-weight: 600;
    width: 384px;
    justify-self: center;
    border: 0;
    border-radius: 5px;
}

.btn-amarelo:hover{
    background-color: var(--verde);
    color: #fff;
}

.campo-input{
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
}

.campo-input input, select{
    padding-left: 10px;
    font-size: 1.125rem;
    margin-top: 10px;
    height: 50px;
    border-radius: 5px;
}

.logo h2{
    color: var(--cinza);
}

.loader {
    width: 50px;
    aspect-ratio: 1;
    --_c:no-repeat radial-gradient(farthest-side,var(--verde) 92%,#0000);
    background: 
      var(--_c) top,
      var(--_c) left,
      var(--_c) right,
      var(--_c) bottom;
    background-size: 12px 12px;
    animation: l7 1s infinite;
  }
  @keyframes l7 {to{transform: rotate(.5turn)}}

#loading{
    margin-top: 300px;
    align-items: center;
    gap: 5px;
}

.animacao{
    animation: animation 4s infinite;
}

    @keyframes animation{
        0% {opacity: 0;}
        
        15%{opacity: 0.25;}
        
        30%{opacity: 0.75;}
        
        45%{opacity: 1}

        60%{opacity: 0.75;}
        
        75%{opacity: 0.25}
        
        100%{opacity: 1;}
    }
