@import "../style.css";

body {
    background-color: var(--branco);
}

h1{
    font-weight: 700;
    letter-spacing: -3px;
    color: var(--cinza);
}

.container {
    width: 80%;
    margin: 2rem auto;
    padding: 0 1rem;
    text-align: center;
}

.description {
    color: var(--cinza);
    margin-bottom: 1.5rem;
    font-weight: 600;
    font-size: 0.9rem;
}

.generate-btn {
    background-color: var(--laranja);
    color: var(--branco);
    border: none;
    padding: 1rem 2rem;
    border-radius: 20px;
    font-size: 1.1rem;
    cursor: pointer;
    margin-bottom: 2rem;
    transition: background-color 0.2s;
}

.generate-btn:hover {
    background-color: var(--laranja);
}

.favorites-section {
    position: relative; /* Define o contexto de posicionamento */
}

.favorites-title {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    padding-left: 0.5rem;
}

.favorites-title img {
    width: 20px;
    height: auto;
}

.favorites-section {
    position: relative;
}

.favorites-title {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    padding-left: 0.5rem;
    position: relative;
    z-index: 1;
}

.favorites-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(245px, 1fr));
    gap: 1rem;
    padding: 0.5rem;
}

.hide-favorites {
    position: absolute;
    color: #000;
    top: 2.5rem;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px;
    box-sizing: border-box;
}
.hide-favorites img {
    width: 70px;
    height: auto;
}

.recipe-card {
    background-color: var(--verde);
    color: #fff;
    padding: 1rem;
    border-radius: 0.5rem;
    position: relative;
}

.recipe-card h3 {
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

.heart-icon {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    cursor: pointer;
}