{% extends "layout.html" %}

{% block title %}CulinarIA{% endblock %}

{% block style %} <link rel="stylesheet"  href="{{ url_for('static', filename='menu/menu.css') }}"> {% endblock %}

{% block content %}

</style>

<main class="container">
    {% if current_user.is_authenticated %}
        <h1>Bem vindo de volta, {{ current_user.name.split()[0] }}</h1>
    {% else %}
        <h1>Bem vindo</h1>
    {% endif %}
    <p class="description">
        Clique no botão abaixo e gere uma receita especialmente <br>
        feita para você com a ajuda da Inteligência artificial.
    </p>
    <button class="generate-btn" onclick="window.location.href='{{ url_for('recipe.new_recipe') }}'"><strong>Gerar uma nova receita!</strong></button>

    <div class="favorites-section">
        <h2 class="favorites-title">
            <img src="{{ url_for('static', filename='assets/favorite.svg')}}"> Meus favoritos
        </h2>
        <div class="favorites-grid">
            {% if current_user.is_authenticated %}
            {% for c in range(102): %}
                <div class="recipe-card">
                    <h3>Pastel de frango no forno</h3>
                    <span class="heart-icon">❤️</span>
                </div>
            {% endfor %}
            {% else %}
            <style>
                .favorites-grid{
                    filter: blur(6px);
                }
            </style>
            {% for c in range(6): %}
                <div class="recipe-card">
                    <h3>Pastel de frango no forno</h3>
                    <span class="heart-icon">❤️</span>
                </div>
            {% endfor %}
            </div>
                <div class="hide-favorites">
                    <img src="{{ url_for('static', filename='assets/padlock.svg') }}" alt=""><br>
                    <h3>Entre na sua conta e salve as receitas que mais <br>
                    gostou para poder acessá-las na hora que quiser!</h3>
                </div>
            {% endif %}
        </div>
    </div>
</main>

{% endblock %}

{% block script %} <script src="{{ url_for('static', filename='script.js') }}"></script> {% endblock %}