{% extends "layout.html" %}

{% block title %}Nova receita{% endblock %}

{% block style %} <link rel="stylesheet"  href="{{ url_for('static', filename='style.css') }}"> {% endblock %}

{% block content %}
    <div class="bg-white p-8 rounded-lg -md w-full h-full flex flex-col justify-center items-center">
    
    <main id="recipeForm" class="w-full max-w-6xl">
        <p class="text-gray-400 mb-6 text-lg text-center text-sm-7">Selecione, gere e cozinhe receitas feitas especialmente para você</p>
        <div class="bg-white p-6 rounded-lg w-78/100 border border-black mt-12 mx-auto">
        <label class="block mb-2 font-semibold text-lg text-center">Quais ingredientes devem estar na sua receita?</label>
        <input type="text" name="ingredientes" id="ingredients" class="w-full border p-3 mb-4 rounded text-lg" placeholder="Ex: Arroz integral, pepino japonês...">
        <div class="flex items-center justify-center mb-6">
            <input type="checkbox" name="apenas-ingredientes" id="strictIngredients" class="mr-2 w-4 h-4">
            <label for="strictIngredients" class="text-lg text-gray-700 text-sm-11 text-center">
                Incluir <span class="text-orange-500 text-sm-11 font-bold">somente</span> os ingredientes listados na receita
            </label>
        </div>
        
        <div class="grid grid-cols-2 gap-6 mb-6">
            <div>
                <label class="block text-lg font-semibold">Tempo de cozimento (<span id="cookTimeValue">65</span> min)</label>
                <input type="range" min="10" max="120" name="tempo" id="cookTime"  oninput="updateCookTime()" class="w-full h-1 bg-gray-300 rounded-md appearance-none cursor-pointer 
                [&::-webkit-slider-thumb]:w-4 [&::-webkit-slider-thumb]:h-4 [&::-webkit-slider-thumb]:bg-orange-500 
                [&::-webkit-slider-thumb]:rounded-full [&::-webkit-slider-thumb]:appearance-none">
            </div>
            <div>
                <label class="block text-lg font-semibold">Porções (<span id="porcaoqntdvalue">10</span>)</label>
                <input type="range" min="1" max="20" name="porcoes" id="porcaoqntd" oninput="updatePorcaoQntd()" class="w-full h-1 bg-gray-300 rounded-md appearance-none cursor-pointer 
                [&::-webkit-slider-thumb]:w-4 [&::-webkit-slider-thumb]:h-4 [&::-webkit-slider-thumb]:bg-orange-500 
                [&::-webkit-slider-thumb]:rounded-full [&::-webkit-slider-thumb]:appearance-none">
                
            </div>
        </div>
        
        <div class="grid grid-cols-2 gap-6 mb-6">
            <div>
                <label class="block text-lg font-semibold">Qual o tipo de culinária da sua receita?</label>
                <input type="text" name="culinaria" id="cuisine" class="w-full border p-3 rounded text-lg" placeholder="Ex: Italiana, Vegana, etc.">
            </div>
            <div>
                <label class="block text-lg font-semibold">Qual é a refeição da sua receita?</label>
                <select id="mealType" name="refeicao" class="w-full border p-3 rounded text-lg">
                    <option>Café da Manhã</option>
                    <option>Almoço</option>
                    <option>Jantar</option>
                    <option>Sobremesa</option>
                </select>
            </div>
        </div>
        <div class="grid grid-cols-2 gap-6 mb-6">
            <div class="flex items-center mb-6">
                <input type="checkbox" name="nao-informa-culinaria" id="cookingtype" class="mr-2 w-4 h-4">
                <label for="cookingtype" class="text-sm-12 text-gray-600">Prefiro não informar</label>
            </div>
            <div class="flex items-center mb-6">
                <input type="checkbox" id="mealtype" name="nao-informa-refeicao" class="mr-2 w-4 h-4">
                <label for="mealtype" class="text-sm-12 text-gray-600">Prefiro não informar</label>
            </div>
            
        </div>
        
        
        <div class="flex justify-center mt-6">
            <button type="submit" id="generate" class="bg-orange-600 text-white px-6 py-3 rounded-2xl font-semibold text-xl
                       hover:bg-orange-500 transition w-full max-w-xs">
                Gerar Receita
            </button>
        </div>
        
    </div>
    </main>
    <section id="loading" class="hidden w-full max-w-6xl mt-8 relative flex justify-center flex-col">
        <div class="loader"></div>
        <p class="text-gray-400 text-center animacao" id ="loader-text"></p>
    </section>
    <section id="recipeResult" class="hidden w-full max-w-6xl mt-8 relative">
        <button onclick="backToForm()" class="absolute left-0 ml-4 bg-white-500 text-black px-0 py-2 font-bold">
            <img src="{{ url_for('static', filename='assets/arrow-back.svg') }}" class="w-6 h-6">
        </button>
        <p class="text-gray-500 text-center">Prontinho! Aproveite sua nova deliciosa receita :)</p>
        <div class="bg-white p-6 rounded-lg shadow mt-6 border border-black">
            <div class="flex justify-between items-start">
                <h2 id="recipeTitle" class="text-2xl font-bold">Título da Receita</h2>
                {% if current_user.is_authenticated %}
                <button id="favoriteBtn" class="text-gray-400 text-2xl" data-recipe-id="">
                    <svg id="favoriteIcon" xmlns="http://www.w3.org/2000/svg" width="45" height="45" viewBox="0 0 45 45" fill="none" class="w-6 h-6">
                        <path d="M22.5 39.375L19.7813 36.9375C16.625 34.0938 14.0156 31.6406 11.9531 29.5781C9.89062 27.5156 8.25 25.6719 7.03125 24.0469C5.8125 
                        22.3906 4.95313 20.875 4.45312 19.5C3.98438 18.125 3.75 16.7188 3.75 15.2813C3.75 12.3438 4.73438 9.89063 6.70313 7.92188C8.67188 5.95313 
                        11.125 4.96875 14.0625 4.96875C15.6875 4.96875 17.2344 5.3125 18.7031 6C20.1719 6.6875 21.4375 7.65625 22.5 8.90625C23.5625 7.65625 24.8281
                        6.6875 26.2969 6C27.7656 5.3125 29.3125 4.96875 30.9375 4.96875C33.875 4.96875 36.3281 5.95313 38.2969 7.92188C40.2656 9.89063 41.25 12.3438
                        41.25 15.2813C41.25 16.7188 41 18.125 40.5 19.5C40.0312 20.875 39.1875 22.3906 37.9688 24.0469C36.75 25.6719 35.1094 27.5156 33.0469 
                        29.5781C30.9844 31.6406 28.375 34.0938 25.2188 36.9375L22.5 39.375Z" fill="currentColor"/>
                    </svg>
                </button>
                {% endif %}
            </div>
            
            <div class="flex justify-around text-gray-600 mt-2">
                <div class="flex items-center">
                    <img src="{{ url_for('static', filename='assets/barrinhas.png') }}" alt="Dificuldade" class="w-5 h-5 mr-2">
                    <span id="difficulty">Dificuldade</span>
                </div>
                <div class="flex items-center">
                    <img src="{{ url_for('static', filename='assets/clock.png') }}" alt="Tempo de preparo" class="w-5 h-5 mr-2">
                    <span id="prepTime">Tempo de preparo</span>
                </div>
                <div class="flex items-center">
                    <img src="{{ url_for('static', filename='assets/vector.png') }}" alt="Tipo de refeição" class="w-5 h-5 mr-2">
                    <span id="MealType">Tipo de refeição</span>
                </div>
            </div>

            <div class="mt-6">
                <h3 class="text-xl font-semibold mb-3">Ingredientes</h3>
                
                <ul id="ingredientsList" class="list-disc pl-5 grid grid-cols-2">
                    <!-- Lista de ingredientes será inserida aqui -->
                </ul>
            
            </div>

            <div class="mt-6">
                <h3 class="text-xl font-semibold mb-3">Modo de Preparo</h3>
                <ol id="recipeSteps" class="pl-5">
                    <!-- Passos serão inseridos aqui -->
                </ol>
            </div>
        </div>

        <div class="flex justify-center mt-6 space-x-4">
            <button type="submit" id="generateNew" class="bg-orange-600 text-white px-6 py-3 rounded-lg font-semibold text-lg hover:bg-orange-500 transition">
                Gerar nova receita
            </button>
            <button id="generateShoppingList" class="bg-green-600 text-white px-6 py-3 rounded-lg font-semibold text-lg hover:bg-green-500 transition">
                Gerar lista de compras
            </button> 
        </div>

        <div class="flex justify-center mt-6 space-x-4">
            <button id="copyRecipe" class="bg-gray-600 text-white px-6 py-3 rounded-lg font-semibold text-lg hover:bg-gray-500 transition">
                Copiar Receita
            </button>
        </div>

    </div>
    </section>
    <section id="shoppingList" class="hidden w-full max-w-6xl mt-8 relative">
        <button onclick="backToRecipeResult()" class="absolute left-0 ml-4 bg-white-500 text-black px-0 py-2 font-bold">
            <img src="{{ url_for('static', filename='assets/arrow-back.svg') }}" class="w-6 h-6">
        </button>
        <p class="text-gray-500 text-center">Aqui está sua lista de compras:</p>
        <div id="toExport" class="p-2 mt-6">
            
            <div class="bg-white p-6 rounded-lg shadow border border-black relative">
                <img id="logo" src="{{ url_for('static', filename='assets/logo.png') }}" class="absolute top-1 right-1 m-4 w-32 h-auto">
                <h3 id="shoppingListRecipeTitle" class="text-xl font-semibold  mb-4">Nome da Receita</h3>
                <ul id="shoppingListItems" class="list-disc pl-5">
                    <!-- Lista de compras será inserida aqui -->
                </ul>
            </div>
            </div>
            <div class="flex justify-center mt-6 space-x-4">
                <button id="exportImage" class="bg-blue-600 text-white px-6 py-3 rounded-lg font-semibold text-lg hover:bg-blue-500 transition">
                    Exportar como Imagem
                </button>
                <button id="copyList" class="bg-gray-600 text-white px-6 py-3 rounded-lg font-semibold text-lg hover:bg-gray-500 transition">
                Copiar Lista
            </button>
        </div>
    </section>
{% endblock %}

{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
<script src="{{ url_for('static', filename='nova-receita/nova-receita.js') }}"></script>
{% endblock %}
