<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CHEFEAI</title>

        <!-- importando fonte do google fonts e aplicação do styles css-->
        <link href="https://fonts.googleapis.com/css2?family=Playwright+Hrvatska+Lijeva&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../static/style.css">
        
        <!-- otimizando o carregamento da fonte-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Playwrite+HR+Lijeva:wght@100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    </head>

    <!-- logotipo e o título-->
<body>
    <header>
        <div class="logo">
        <i class="fa-solid fa-utensils"></i>
        <h1 class="text-header">
            Chefe ai
        </h1> </div>
    </header>

    <!-- O principal, formulário para o usário colocar os inputs para gerar a receita-->
    <main class="tela">
            
            <form id="geradorReceitas" class="form" method="post">

                <!-- input dos ingredientes, o placeholder mostra um exemplo de input-->
                <div>

                    <label class="txt-grande" for="ingredientes">Ingredientes:</label>
                    <input type="text" id="ingredientes" name="ingredientes" placeholder="Ex: Arroz, ovo, pepino japônes, etc." aria-label="Ingredientes">
                </div>

                    <!-- checkbox que indica se apenas os ingredientes listados devem ser usados -->
                <div class="checkbox-ingredientes">
                    <label for="apenas-ingredientes" ></label>
                        <input type="checkbox" id="apenas-ingredientes" name="apenas-ingredientes"/>
                        Usar ingredientes utilizados</label>
                </div>

                 <!-- input dos eletrodomésticos-->
                <div>

                    <label class="txt-grande" for="eletrodomesticos">Eletrodomésticos:</label>
                    <input type="text" id="eletrodomesticos" name="eletrodomesticos" placeholder="Ex: Airfryer, microondas, fogão a gás" aria-label="Eletrodomésticos">
                </div>

                <!-- input dos restrições alimentares-->
                <div>
                    <label class="txt-grande" for="restricoes">Restrições Alimentares:</label>
                    <input type="text" id="restricoes" name="restricoes" placeholder="Ex: Intolerância a lactose, zero açúcar, doença celíaca" aria-label="Restrições Alimentares">
                </div>

                <!-- input da culinária-->
                <div>
                    <label class="txt-grande" for="culinaria">Culinária:</label>
                    <input type="text" id="culinaria" name="culinaria" placeholder="Ex: Vegana, Japonesa, Brasileira" aria-label="Culinária">
                </div>
                
                <!-- caixa de seleção do tipo de prato-->
                <div class="porcoes-pratos">

                    <div>  
                        <label class="txt-grande" for="prato">Prato:</label>
                        <select name="refeicao" id="refeicao" aria-label="Prato">
                            <option value="café da manhã">Café da Manhã</option>
                            <option value="almoço">Almoço</option>
                            <option value="jantar">Jantar</option>
                            <option value="entrada">Entrada</option>
                            <option value="sobremesa">Sobremesa</option>
                        </select>
                    </div>

                    <!-- caixa de seleção da quantidade de poções-->
                    <div>
                        <label class="txt-grande" for="porcoes">Porções:</label>
                        <select name="porcoes" id="porcoes" aria-label="Porções">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                </div>

                <!-- botão que envia os dados do formulário-->
                <button type="submit">GERAR RECEITA</button>
            </form>
                
            <!-- div que exibe a receita gerada com base nos inputs do usuário-->
            <div class="receita-container">
                <h2 class="receita"> Preencha suas preferências e veja sua receita aparecer aqui :) </h2>
                <div id="body"></div>
            </div>

            <!-- importando: font awesome para ícones;
             biblioteca para coneverter texto markdown em html
             Um script local (script.js) para gerenciar interações na página -->
    </main>
    <script src="https://kit.fontawesome.com/8e9a566064.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="../static/script.js"></script> 
</body>
</html>
